<div id="fh5co-page">
        <header id="fh5co-header" role="banner">
            <div class="container">
                <div class="header-inner">

                    <h1>
                        <img src="assets/images/logo.png" width="40" height="40" alt="image"/>
                        <a href="#"> Team Angular </a>
                    </h1>
                    <nav role="navigation">
                        <ul>
                            <li><a href="#">Computer List</a></li>
                            <li><a href="#">Sign in</a></li>
                            <li><a href="#">Sign up</a></li>
                            <li><a href="#">About Us</a></li>
                            <li class="cta"><button mat-button (click)="openDialog()">Add Computer</button>
                            </li>
                            <li><a href="#">fr</a></li>
                            <li><a href="#">en</a></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </header>
</div>
