<div id="fh5co-page">
        <header id="fh5co-header" role="banner">
            <div class="container">
                <div class="header-inner">

                    <h1>
                        <img src="assets/images/logo.png" width="40" height="40" alt="image"/>
                        <a routerLink="/"> Team Angular </a>
                    </h1>

                    <nav role="navigation" >
                        <ul>
                            <li><a routerLink="#">About Us</a></li>
                            <li *ngIf="user.token !== null"><a routerLink="#">Computer List</a></li>
                            <li><a *ngIf="user === null" routerLink="#">Sign in</a></li>
                            <li><a *ngIf="user === null" routerLink="#">Sign up</a></li>
                            <li *ngIf="isAdministrator === true" class="cta"><button mat-button (click)="openDialog()">Add Computer</button></li>
                            <li *ngIf="user.token !== null && user !== null" class="cta"><button mat-button (click)="sendLogout()"> Log out</button> </li>
                            <li><a routerLink="#">fr</a></li>
                            <li><a routerLink="#">en</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
</div>
