<div id="details">
  <div class="detailsTitle">
    <h2>{{ 'DETAILS.DETAIL' | translate }}</h2>
  </div>

  <mat-card class="computerdetails">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{computer.name}}</mat-card-title>
      <mat-card-subtitle>{{computer.companyDto.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/comp.jpg" width="10" height="300">
    <mat-card-content>

        <ul>
          <li>
            {{ 'LIST.INTRODUCED' | translate }} : <br/>
            {{computer.introduced}}
          </li>
        </ul>
        <ul>
          <li>
            {{ 'LIST.DISCONTINUED' | translate }} : <br/>
           {{computer.discontinued}}
          </li>
        </ul>
        <mat-card-actions>
          <button mat-button (click)="openEditDialog()">{{ 'LIST.EDIT' | translate }}</button>
          <button mat-button routerLink="/computers">{{ 'DETAILS.BACK' | translate }}</button>
        </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
