<div id="details">
  <div class="detailsTitle">
    <h2>Computer Details</h2>
  </div>

  <mat-card class="computerdetails">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{computer.name}}</mat-card-title>
      <mat-card-subtitle>{{computer.companyDto.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/comp.jpg" width="10" height="300">
    <mat-card-content>

        <ul>
          <li>
            Date Introduced : <br/>
            {{computer.introduced}}
          </li>
        </ul>
        <ul>
          <li>
            Date Discontinued : <br/>
           {{computer.discontinued}}
          </li>
        </ul>
        <mat-card-actions>
          <button mat-button (click)="openEditDialog()">Edit</button>
          <button mat-button routerLink="/computers">Back Home</button>
        </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
