table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}




.mat-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

* {
  box-sizing: border-box;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857;
  vertical-align: top;
}

.mat-row:nth-child(odd) {
  background-color: #f9f9f9;
}

body {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  color: #404B4E;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
