<p>computer-list works! On est sur la page {{page.currentPage}} sur {{page.nbPage}}</p>
<p>il y a {{nbComputers}} computers en tout.</p>

<div>
<h4>mat select</h4>
<mat-form-field appearance="fill">
  <mat-select (selectionChange)="modifOrder($event)" required>
    <mat-option *ngFor="let order of orders" value = "{{order.value}}" >
      {{order.label}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-select (selectionChange)="modifAscending($event)" required>
    <mat-option *ngFor="let ascending of ascendings" value = "{{ascending.value}}" >
      {{ascending.label}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button (click)="nextPage()"> Next Page </button>

<button (click)="previousPage()"> Previous Page </button>

<input type="number" min="1" value="{{this.page.itemsByPage}}" id="ItemsByPage" 
    name="ItemsByPage" (change)="modifItemsByPage($event.target.value)" />

<input type="text" value="{{this.motSearch}}" id="search" 
    name="search" (change)="modifSearch($event.target.value)" />

</div>
<!-- <ng-container *ngIf="computersList"> -->

<app-computer *ngFor="let computer of computersList"
            [computer]="computer" (removeToParent)="remove($event)">
        </app-computer>

<!-- </ng-container> -->