<p>On est sur la page {{page.currentPage}} sur {{page.nbPage}}</p>

<div id="fh5co-pricing-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
        <h1 id="homeTitle">{{nbComputers}} Computers found</h1>
      </div>
    </div>

    <section id="main">
      <div class="container">
        <div id="actions" class="form-horizontal">
          <div class="pull-left">
              <input value="{{this.motSearch}}"
                     (change)="modifSearch($event.target.value)"
                     type="search" id="searchbox" name="search" class="form-control" placeholder="Search name"/>
          </div>
          <div class="pull-right">
            <a class="btn btn-default" id="editComputer" routerLink="/" (click)="toggleEditMode()">Edit</a>
          </div>
        </div>
      </div>

      <mat-form-field appearance="fill">
        <mat-select (selectionChange)="modifOrder($event)" [(value)]="orderSelect" required>
          <mat-option *ngFor="let order of orders" value="{{order.value}}" >
            {{order.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-select (selectionChange)="modifAscending($event)" [(value)]="ascendingSelect" required>
          <mat-option  *ngFor="let ascending of ascendings"  value="{{ascending.value}}" >
            {{ascending.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="container">
        <table mat-table [dataSource]="computersList">

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>

              <span>
                <a id="deleteSelected" routerLink="" (click)="deleteSelected()">
                   <input id="selectall" type="checkbox">
                </a>
                Select All
              </span>
            </th>

            <td mat-cell *matCellDef="let computer; let i = index">
              <input class="cb" type="checkbox" name="cb" value="{{i}}">
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let computer">
              <a routerLink="/computers/{{computer.idComputer}}">{{computer.name}}</a>
            </td>
          </ng-container>

          <ng-container matColumnDef="introduced">
            <th mat-header-cell *matHeaderCellDef> Introduced date </th>
            <td mat-cell *matCellDef="let computer"> {{computer.introduced}} </td>
          </ng-container>

          <ng-container matColumnDef="discontinued">
            <th mat-header-cell *matHeaderCellDef> Discontinued date </th>
            <td mat-cell *matCellDef="let computer"> {{computer.discontinued}} </td>
          </ng-container>

          <ng-container matColumnDef="companyDto">
            <th mat-header-cell *matHeaderCellDef> Company </th>
            <td mat-cell *matCellDef="let computer"> {{computer.companyDto.name}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </section>
  </div>
</div>

<footer class="navbar-fixed-bottom">
  <div class="container text-center">
    <button (click)="nextPage()"> Next Page </button>
    <button (click)="previousPage()"> Previous Page </button>
      <ul class="pagination" id="listPage" #ul>
        <button hidden (click)="setCurrentPage(1)" #pageButtonBegin><<</button>
        <button hidden (click)="setCurrentPage(1)" #pageButton1><<</button>
        <button hidden (click)="setCurrentPage(1)" #pageButton2><<</button>
        <button hidden (click)="setCurrentPage(1)" #pageButton3><<</button>
        <button hidden (click)="setCurrentPage(1)" #pageButtonEnd><<</button>
      </ul>
      <div class="btn-group btn-group-sm pull-right" role="group">
        <button type="button" class="btn btn-default"
                (click)="modifItemsByPage(10)">10</button>
        <button type="button" class="btn btn-default"
                (click)="modifItemsByPage(50)">50</button>
        <button type="button" class="btn btn-default"
                (click)="modifItemsByPage(100)">100</button>
      </div>
  </div>
</footer>

<!-- </ng-container> -->
