table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #27E1CE;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

a {
  background-color: transparent;
}

.mat-table {
  width: 80%;
  max-width: 100%;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.cbH, cbI{
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

td, th, tr{
  border: 1px solid #ddd;
  padding: 8px;
  line-height: 1.42857;
  vertical-align: center;
  align-content: center;
  text-align: center;
}

th.mat-header-cell {
  text-align: center;
}
.mat-row:nth-child(odd) {
  background-color: #f9f9f9;
}

body {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  color: #404B4E;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  white-space: nowrap;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
