<form [Computer]="computer" [Company[]]="companies">
 
        <label>Computer name</label>
        <input type="text" name="name" [(ngModel)]="computer.name"> 
        <br/>
        <label>Introduction date</label>
        <input type="date introduced" [(ngModel)]="computer.introduced"> 
        <br/>
        <label>Discontinuition date</label>
        <input type="date" name="discontinued" [(ngModel)]="computer.discontinued"> 
        <br/>
        <label>Company</label>
        <select [(ngModel)]="companies" >
                <option *ngFor="let company of companies" [value]="company">{{company.name}}</option>
        </select>
        <br/>
        <button (click)="onSubmit()" mat-button> Add computer </button>
        <button onclick="" mat-button> Cancel </button>
</form>