<div id="fh5co-pricing-section" class="body-list">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center fh5co-heading animate-box">
        <h1 id="homeTitle">{{nbCompanies}} {{(nbCompanies > 1 ? 'LIST.COMPANIES' : 'LIST.COMPANYFOUND') | translate }}</h1>
      </div>
    </div>

    <section id="main">
      <div class="container">
        <div id="actions" class="form-horizontal">
          <div class="pull-left">
            <input value="{{this.motSearch}}" (change)="modifSearch($event.target.value)" type="search" id="searchbox"
                   name="search" class="form-control" placeholder="{{ 'LIST.SEARCH' | translate }}" />
            <a class="btn btn-default" id="editComputer" (click)="toggleEditMode()">{{ 'LIST.EDIT' | translate }}</a>
          </div>
        </div>
      </div>

      <div class="container">
        <table mat-table [dataSource]="companiesList">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>

              <div class="delete">
                <img class="fit-picture" (click)="openDialog()"
                     src="https://www.aggloroanne.fr/fileadmin/_processed_/6/6/csm_Accroche_dechets_menagers_088def858f.png"
                     [(hidden)]="this.task.hidden">
                <mat-checkbox class="checkdelete" [checked]="allComplete" [indeterminate]="someComplete()"
                              (change)="setAll()" [(hidden)]="this.task.hidden">
                              <p (click)="modifOrder('cp.name')" style="text-align: center;">{{ 'LIST.NAMECOMPANY' | translate }}</p>
                            </mat-checkbox>

              </div>

            </th>
            <td mat-cell *matCellDef="let company; let i = index">

              <mat-checkbox [(ngModel)]="this.task.subtasks[i].completed" [color]="this.task.subtasks[i].color"
                            (ngModelChange)="updateAllComplete()" [(hidden)]="this.task.subtasks[i].hidden">
              </mat-checkbox>
              <a>
                {{company.name}}
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </section>
  </div>
</div>


<footer class="navbar-fixed-bottom">
  <div class="container text-center" >
    <ul class="pagination" id="listPage" style="text-align: center;" #ul>
      <button hidden (click)="previousPage()" #pageButtonBegin><<</button>
      <button hidden (click)="setCurrentPage(this.page.currentPage - 1)" #pageButton1>{{page.currentPage - 1}}</button>
      <button hidden (click)="setCurrentPage(this.page.currentPage)" #pageButton2>{{page.currentPage}}</button>
      <button hidden (click)="setCurrentPage(this.page.currentPage + 1)" #pageButton3>{{page.currentPage + 1}}</button>
      <button hidden (click)="nextPage()" #pageButtonEnd>>></button>
    </ul>
    <div class="numbers" role="group" style="text-align: right;">
      <button type="button" class="buttonNumber" (click)="modifItemsByPage(10)">10</button>
      <button type="button" class="buttonNumber" (click)="modifItemsByPage(50)">50</button>
      <button type="button" class="buttonNumber" (click)="modifItemsByPage(100)">100</button>
    </div>
  </div>
</footer>
